.loader_slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #faf9f9;
}
.svg {
  width: 114px;
  height: 114px;
}
.circle {
  fill: none;
  stroke-width: 10px;
  stroke: rgb(208, 208, 208);
}
.loader {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  stroke: #ff0000;
  animation: load 10s infinite;
}
@keyframes load {
  0% {
    stroke-dasharray: 360;
  }
  50% {
    stroke-dasharray: 1;
  }
  100% {
    stroke-dasharray: 360;
  }
}
