.about_section {
  padding: 70px;
  padding-bottom: 0;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px 0;
}
.about_text {
  display: flex;
  align-self: flex-end;
  font-size: 48px;
  color: #282828cc;
  padding-bottom: 4px;
  border-bottom: 5px solid #00000080;
  margin-bottom: 100px;
}
.content1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_img {
  width: 400px;
}
.about_para {
  width: 60%;
  font-size: 28px;
  color: #282828cc;
  font-family: Inter-ExtraLight;
}
.about_bottom {
  width: 100vw;
  height: auto;
  background: #ff0000;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 200px;
}
.content2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.content2_heading {
  color: #ffffff;
  padding-bottom: 4px;
  border-bottom: 5px solid #c6c6c6;
  margin-bottom: 30px;
  font-size: 48px;
  white-space: nowrap;
}
.list_items {
  color: #fff;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.bookmark_img {
  width: 250px;
}
@media screen and (max-width: 1100px) {
  .about_text {
    align-self: center;
  }
  .about_img {
    width: 300px;
  }
  .about_bottom {
    padding: 40px 100px;
  }
  .content2_heading {
    white-space: no-wrap;
  }
  .bookmark_img {
    width: 150px;
  }
  .list_items {
    row-gap: 0;
  }
}
@media screen and (max-width: 900px) {
  .content2 {
    justify-content: center;
    align-items: center;
  }
  .bookmark_img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .about_section {
    padding: 50px;
  }
  .about_para {
    font-size: 20px;
  }
  .about_img {
    width: 200px;
  }
  .content2_heading {
    font-size: 30px;
  }
  .list_items {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .about_section {
    padding: 30px;
    padding-top: 0;
  }
  .about_top {
    margin: 40px 0;
  }
  .about_text {
    margin-bottom: 20px;
  }
  .about_para {
    font-size: 20px;
    width: auto;
    text-align: justify;
  }
  .about_img {
    display: none;
  }
  .about_bottom {
    padding: 40px 40px;
    margin-top: 0;
  }
  .content2_heading {
    font-size: 26px;
    display: inline-block;
  }
}
