.navbar {
  width: 100vw;
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.img_container {
  width: 100px;
}
.img {
  width: 100px;
}
.nav_links_container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.nav_link_container {
  margin: 60px;
}
.github_container {
  width: 80px;
}
.github_img {
  width: 80px;
}
/* @media screen and (max-width: 1100px) {
  .navbar {
    padding: 0;
  }
  .nav_links_container {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    z-index: 2;
    background-color: black;
    color: aliceblue;
    position: absolute;
    margin-top: 400px;
  }
  .nav_link_container {
    margin: 20px;
  }
} */
